@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor1: #111111;
    --cor2: #1F1F1F;
    --cor3: #F3F3F3;
    --cor4: #666666;
    --cor5: #C62828;
    --cor6: #E53935;
    
    --fonte1: "Poppins", sans-serif;
    --fonte2: "Inter", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

#container{
    display: grid;
    grid-template-columns: 1fr;
}

    /*Header////////////////////////////////////////////////////////////*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor1);
    padding: 20px;
    color: white;
}

header nav{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: var(--cor1);
    color: white;
    height: 100vh;
    padding: 20px;
}

header nav ul{
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    gap: 35px;
}

header nav .a1{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--fonte2);
}

header p{
    font-size: 1.4em;
    font-family: var(--fonte2);
    letter-spacing: 4px;
}

.logo{
    display: flex;
    align-items: center;
}

.icone{
    font-size: 1.8em;
}

.login{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.b1{
    padding: 15px 30px;
    background-color: var(--cor5);
    border-radius: 20px;
    border: none;
    color: white;
    font-family: var(--fonte2);
    font-weight: bold;
}



    /*Main////////////////////////////////////////////////////////////*/

main{
    width: 100vw;
    background-color: var(--cor2);
    color: white;
    padding: 20px;
}

    /*Section Principal////////////////////////////////////////////////*/

.principal h1{
    font-family: var(--fonte1);
    margin-bottom: 10px;
}

.principal h2{
    font-family: var(--fonte1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.principal p{
    font-family: var(--fonte2);
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}

.principal li{
    font-family: var(--fonte2);
    font-size: 1em;
    text-align: left;
    line-height: 1.5em;
    margin-bottom: 20px;
    margin-left: 10px;
}